.entrance-view
  .form-section.username-view(
    v-if="currentView == 1"
    transition="expand"
  )
    img.logo(src="assets/icons/Pocket.png")
    form(v-on:submit.prevent="submit")
      .form-group.name
        input.form-control.login-field(
          type="text"
          placeholder="ログインネームを入力..."
          v-model="username"
          v-bind:disabled="waiting"
        )
      .form-group.enter
        button.btn.btn-primary.enter-button(
          type="submit"
          v-bind:disabled="waiting || !username"
        )
          | チャットロビーへ入る
        p.message(v-bind:class="{ 'error': !!error }")
          | {{ error }}

  .form-section.waiting-view(
    v-if="currentView == 2"
    transition="expand"
  )
    .sk-rotating-plane

